.mbp-theme-dark {
    --color-primary: #E25434;
    --color-darkPrimary: #B9452B;
    --color-lightPrimary: #E77358;
    --color-text: #141414;
    --color-textPrimary: #EEE;
    --color-textSecondary: #CCC;
    --color-accent: #03A9F4;
    --color-divider: #666666;
}

.mbp-theme-dark__Input {
    background-color: var(--color-text);
    color: var(--color-textSecondary);
    border: 0px solid transparent;
    border-bottom: 1px solid var(--color-divider);
}
.mbp-theme-dark__Input:focus {
    color: var(--color-textPrimary);
    background-color: #222 !important;
    border-color: var(--color-darkPrimary);
}
.mbp-theme-dark__Input::placeholder {
    color: var(--color-divider);
}
.mbp-theme-dark__Input--centered::placeholder {
    text-align: center;
}
